body {
    color: #CFCFCF;
    /*background-color: #2E3436;*/
    background-color: #322528;
    /*font-family: "DejaVu Sans Mono";*/
    padding: 0px;
    /*text-align: center;*/
    width: 924px;
    margin: 0px auto 0px auto;
    text-align: justify;
}

div.classone {
    /*position: fixed;*/
    /*top: 0px;*/
    /*left: 0px;*/
    color: #EFEFEF;
    border-width: 1px;
    border-style: dotted;
    /*overflow: hidden;*/
    /*text-indent: 2em;*/
    /*text-shadow: 1px 1px 8px #1EE34E;*/
    /*box-shadow: inset 5px 10px #987891;*/
    /*background-color: #1B8EAA;*/
    /*border-radius: 1em 28em 8em 3em / 3em 9em 2em 1em;*/
    /*line-height: 17px;*/
}

ul {
    list-style-type: circle;
}
p.lst {
    margin: 0px 0px -1em 0px;
}

img.images {
    margin: -0.5em auto -0.5em auto;
    display: block;
    max-width: 924px;
}

p.images_desc {
    text-align: center;
    font-size: 80%;
}

/*div.box {*/
/*}*/

/*div.classtwo {*/
    /*background-color: rgba(0, 255, 0, 0.1);*/
/*}*/

/*.txt_class {*/
    /*[>padding: inherit;<]*/
    /*padding: 99px;*/
/*}*/
